<div *ngIf="selectedCreator">
  <h2>Creators</h2>
  <h2>{{selectedCreator.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedCreator.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedCreator.name" placeholder="name">
    </label>
  </div>
</div>

<ul class="creators">
  <li *ngFor="let creator of creators"
      [class.selected]="selectedCreator?.id === creator.id"
      [ngClass]="{ 'selected': selectedCreator?.id == creator.id }"
      (click)=onSelect(creator)><span class="badge">{{creator.id}}</span>
    <span class="name">{{creator.name}}</span></li>
</ul>
